In [1]:
import pandas as pd
from pandasql import sqldf
import matplotlib.pyplot as plt

%matplotlib inline

In [2]:
poke = pd.read_csv('Pokemon.csv', index_col = 'pokedex_number')

I want to break down the pokemon to try and find the best typings when it comes to total stats to see if pokemon are well balanced

In [3]:
poke.head()

,abilities,against_bug,against_dark,against_dragon,against_electric,against_fairy,against_fight,against_fire,against_flying,against_ghost,...,name,percentage_male,sp_attack,sp_defense,speed,type1,type2,weight_kg,generation,is_legendary
pokedex_number,,,,,,,,,,,,,,,,,,,,,
1,"['Overgrow', 'Chlorophyll']",1.0,1.0,1.0,0.5,0.5,0.5,2.0,2.0,1.0,...,Bulbasaur,88.1,65,65,45,grass,poison,6.9,1,0
2,"['Overgrow', 'Chlorophyll']",1.0,1.0,1.0,0.5,0.5,0.5,2.0,2.0,1.0,...,Ivysaur,88.1,80,80,60,grass,poison,13.0,1,0
3,"['Overgrow', 'Chlorophyll']",1.0,1.0,1.0,0.5,0.5,0.5,2.0,2.0,1.0,...,Venusaur,88.1,122,120,80,grass,poison,100.0,1,0
4,"['Blaze', 'Solar Power']",0.5,1.0,1.0,1.0,0.5,1.0,0.5,1.0,1.0,...,Charmander,88.1,60,50,65,fire,NaN,8.5,1,0
5,"['Blaze', 'Solar Power']",0.5,1.0,1.0,1.0,0.5,1.0,0.5,1.0,1.0,...,Charmeleon,88.1,80,65,80,fire,NaN,19.0,1,0

In [4]:
poke.columns

Index(['abilities', 'against_bug', 'against_dark', 'against_dragon',
       'against_electric', 'against_fairy', 'against_fight', 'against_fire',
       'against_flying', 'against_ghost', 'against_grass', 'against_ground',
       'against_ice', 'against_normal', 'against_poison', 'against_psychic',
       'against_rock', 'against_steel', 'against_water', 'attack',
       'base_egg_steps', 'base_happiness', 'base_total', 'capture_rate',
       'classfication', 'defense', 'experience_growth', 'height_m', 'hp',
       'japanese_name', 'name', 'percentage_male', 'sp_attack', 'sp_defense',
       'speed', 'type1', 'type2', 'weight_kg', 'generation', 'is_legendary'],
      dtype='object')

In [5]:
poke['type1'].nunique()

18

In [6]:
def pysqldf(q):
    return sqldf(q, globals())

In [35]:
pysqldf("""SELECT name, type1, hp FROM poke p1 
        WHERE hp = (SELECT MAX(hp) 
                    FROM poke p2 
                    WHERE p1.type1 = p2.type1
                    AND is_legendary = 0) 
        AND is_legendary = 0
        GROUP BY type1, name""")

          name     type1   hp
0      Yanmega       bug   86
1    Mandibuzz      dark  110
2     Garchomp    dragon  108
3     Ampharos  electric   90
4   Aromatisse     fairy  101
5     Hariyama  fighting  144
6       Emboar      fire  110
7      Noivern    flying   85
8     Drifblim     ghost  150
9       Gogoat     grass  123
10   Rhyperior    ground  115
11   Mamoswine       ice  110
12     Walrein       ice  110
13     Blissey    normal  255
14         Muk    poison  105
15   Wobbuffet   psychic  190
16     Aurorus      rock  123
17   Metagross     steel   80
18     Wailord     water  170

In [36]:
pysqldf("""SELECT name, type1, attack FROM poke p1 
        WHERE attack = (SELECT MAX(attack) 
                    FROM poke p2 
                    WHERE p1.type1 = p2.type1
                    AND is_legendary = 0) 
        AND is_legendary = 0
        GROUP BY type1, name""")

          name     type1  attack
0    Heracross       bug     185
1        Absol      dark     150
2     Garchomp    dragon     170
3   Electivire  electric     123
4     Granbull     fairy     120
5      Lucario  fighting     145
6     Blaziken      fire     160
7      Noivern    flying      70
8      Banette     ghost     165
9    Abomasnow     grass     132
10   Rhyperior    ground     140
11     Beartic       ice     130
12   Mamoswine       ice     130
13     Slaking    normal     160
14   Toxicroak    poison     106
15     Gallade   psychic     165
16   Rampardos      rock     165
17   Aegislash     steel     150
18    Gyarados     water     155

In [37]:
pysqldf("""SELECT name, type1, defense FROM poke p1 
        WHERE defense = (SELECT MAX(defense) 
                    FROM poke p2 
                    WHERE p1.type1 = p2.type1
                    AND is_legendary = 0) 
        AND is_legendary = 0
        GROUP BY type1, name""")

          name     type1  defense
0      Shuckle       bug      230
1      Sableye      dark      125
2    Salamence    dragon      130
3    Magnezone  electric      115
4     Togekiss     fairy       95
5   Conkeldurr  fighting       95
6    Hitmontop  fighting       95
7      Torkoal      fire      140
8      Noivern    flying       80
9   Cofagrigus     ghost      145
10  Ferrothorn     grass      131
11   Rhyperior    ground      130
12     Avalugg       ice      184
13      Audino    normal      126
14     Toxapex    poison      152
15     Gallade   psychic       95
16  Gothitelle   psychic       95
17   Bastiodon      rock      168
18      Aggron     steel      230
19     Steelix     steel      230
20    Cloyster     water      180
21     Slowbro     water      180

In [38]:
pysqldf("""SELECT name, type1, sp_attack FROM poke p1 
        WHERE sp_attack = (SELECT MAX(sp_attack) 
                    FROM poke p2 
                    WHERE p1.type1 = p2.type1
                    AND is_legendary = 0) 
        AND is_legendary = 0
        GROUP BY type1, name""")

         name     type1  sp_attack
0    Vikavolt       bug        145
1    Houndoom      dark        140
2    Garchomp    dragon        120
3   Salamence    dragon        120
4    Ampharos  electric        165
5     Floette     fairy        125
6     Lucario  fighting        140
7   Charizard      fire        159
8     Noivern    flying         97
9      Gengar     ghost        170
10   Sceptile     grass        145
11   Stunfisk    ground         81
12    Glaceon       ice        130
13     Drampa    normal        135
14    Pidgeot    normal        135
15  Porygon-Z    normal        135
16   Salazzle    poison        111
17   Alakazam   psychic        175
18    Omastar      rock        115
19  Aegislash     steel        150
20   Greninja     water        153

In [39]:
pysqldf("""SELECT name, type1, sp_defense FROM poke p1 
        WHERE sp_defense = (SELECT MAX(sp_defense) 
                    FROM poke p2 
                    WHERE p1.type1 = p2.type1
                    AND is_legendary = 0) 
        AND is_legendary = 0
        GROUP BY type1, name""")

          name     type1  sp_defense
0      Shuckle       bug         230
1      Umbreon      dark         130
2       Goodra    dragon         150
3     Ampharos  electric         110
4      Florges     fairy         154
5   Hitmonchan  fighting         110
6    Hitmonlee  fighting         110
7    Hitmontop  fighting         110
8    Charizard      fire         115
9      Noivern    flying          80
10    Dusknoir     ghost         135
11    Venusaur     grass         120
12     Claydol    ground         120
13   Cryogonal       ice         135
14     Blissey    normal         135
15     Toxapex    poison         142
16   Gardevoir   psychic         135
17     Carbink      rock         150
18   Probopass      rock         150
19    Bronzong     steel         116
20     Mantine     water         140

In [40]:
pysqldf("""SELECT name, type1, speed FROM poke p1 
        WHERE speed = (SELECT MAX(speed) 
                    FROM poke p2 
                    WHERE p1.type1 = p2.type1
                    AND is_legendary = 0) 
        AND is_legendary = 0
        GROUP BY type1, name""")

          name     type1  speed
0      Ninjask       bug    160
1      Weavile      dark    125
2    Salamence    dragon    120
3    Electrode  electric    150
4       Comfey     fairy    100
5     Hawlucha  fighting    118
6   Talonflame      fire    126
7      Noivern    flying    123
8       Gengar     ghost    130
9     Sceptile     grass    145
10     Dugtrio    ground    110
11    Froslass       ice    110
12     Lopunny    normal    135
13      Crobat    poison    130
14    Alakazam   psychic    150
15  Aerodactyl      rock    150
16   Metagross     steel    110
17    Greninja     water    132

In [50]:
pysqldf("""SELECT name, type1, base_total FROM poke p1 
        WHERE base_total = (SELECT MAX(base_total) 
                    FROM poke p2 
                    WHERE p1.type1 = p2.type1) 
        GROUP BY type1, name""")

         name     type1  base_total
0    Genesect       bug         600
1   Heracross       bug         600
2      Pinsir       bug         600
3      Scizor       bug         600
4     Yveltal      dark         680
5    Rayquaza    dragon         780
6    Ampharos  electric         610
7     Xerneas     fairy         680
8     Lucario  fighting         625
9       Ho-Oh      fire         680
10   Tornadus    flying         580
11   Giratina     ghost         680
12   Sceptile     grass         630
13    Groudon    ground         770
14   Articuno       ice         580
15     Glalie       ice         580
16     Regice       ice         580
17     Arceus    normal         720
18     Crobat    poison         535
19     Mewtwo   psychic         780
20    Diancie      rock         700
21  Tyranitar      rock         700
22  Metagross     steel         700
23     Kyogre     water         770